* {
	box-sizing: border-box;
}
.container {
	position: relative;
    width: 100%;
}

.sub__1 {
	position: absolute;
    width: 100%;
    z-index: -1;
}
.sub__2 {
	position: absolute;
    line-height: 50px;
    z-index: 1;
    left: 10px;
    display: none;
}

#text {
    width: 100%;
    padding: 10px 5px 10px 25px;
    font-size: 20px;
    -webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
    border: 1px solid #000;
}

#text:focus {
	outline: none;
}